@keyframes moveKey {
  0%,
  100% {
    transform: translateY(var(--num));
  }
  50% {
    transform: translateY(calc(-1 * var(--num)));
  }
}

.header {
  --key-size: 48px;
  position: relative;
  width: 100%;
  padding: var(--gap-l) var(--s-contain);
  z-index: 150;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  pointer-events: none;

  &__title {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;

    &__word {
      display: flex;
      gap: var(--gap-m);
    }

    &__block {
      color: var(--c-black);
      background-color: var(--c-white);
      width: var(--key-size);
      height: var(--key-size);
      flex: none;
      padding: var(--gap-xs) var(--gap-s);
      transition:
        color 0.3s,
        background-color 0.3s;

      animation: moveKey 10s ease-in-out infinite;

      picture {
        transition: filter 0.3s;
      }

      header.is-open & {
        color: var(--c-white);
        background-color: var(--c-black);
        filter: drop-shadow(0 0 10px var(--c-black));

        picture {
          filter: invert(1);
        }
      }
    }
  }

  &__links {
    pointer-events: auto;

    ul {
      gap: var(--gap-m);

      li {
        color: var(--c-black);
        background-color: var(--c-white);
        text-transform: uppercase;
        text-wrap: nowrap;

        &.is-active {
          background-color: var(--c-black);
          color: var(--c-white);
          filter: drop-shadow(0 0 10px var(--c-white));
        }

        a {
          padding: var(--gap-xs) var(--gap-s);
          min-height: var(--key-size);
          display: block;

          @media (hover) {
            &:hover {
              font-style: italic;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    padding: var(--gap-m) var(--s-contain);

    &__title {
      gap: var(--gap-m);
      filter: drop-shadow(0 0 10px var(--c-white));
    }
  }
}
